* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.calculator {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}
.container {
    width: 400px;
    height: 500px;
    border: 3px solid #303133;

}
.buttons {
    display: flex;
    flex-wrap: wrap;
    height: 70%;
    
}
.buttons > * {
    width: 25%;
    font-size: 1.4rem;
    background-color: #3b3b3b;
    color: white;
    border: 1px solid #202020;
}
.buttons > *:hover {
    opacity: 0.8;
}
.buttons > *:focus {
    outline: none;
}
.screen {
    height: 30%;
    font-size: 1.6rem;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #202020;
    word-break: break-all;
}
.screen > * {
    flex: 1;
}
.buttons #delete {
    width: 50%;
}
.buttons #equal {
    background-color: #4cc2ff;
    color: black;
}
